<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sinergia.eLibrary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".presentation.NeLSProject"
        android:allowBackup="true"
        android:icon="@drawable/logonels"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".presentation.Account.View.AccountActivity"></activity>
        <activity android:name=".presentation.Dialogs.ConfirmDialog.ConfirmDialogActivity" />
        <activity android:name=".presentation.CameraScan.View.CameraScanActivity" />
        <activity android:name=".presentation.test_scan_camera" />
        <activity android:name=".presentation.test_camera" />
        <activity android:name=".presentation.Catalog.View.ItemCatalogActivity" /> <!-- ACTIVITIES -->
        <!-- MAIN ACTIVITY -->
        <activity android:name=".presentation.Main.View.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- LOGIN -->
        <activity android:name=".presentation.Login.View.LoginActivity" /> <!-- LOGIN AUTH -->
        <activity android:name=".presentation.Login.View.AuthLoginActivity" /> <!-- REGISTER -->
        <activity android:name=".presentation.Register.View.RegisterActivity" /> <!-- FORGOT PASSWORD -->
        <activity android:name=".presentation.ForgotPassword.View.ForgotPasswordActivity" /> <!-- MAIN MENU -->
        <activity
            android:name=".presentation.MainMenu.View.MainMenuActivity"
            android:label="@string/title_activity_main_menu" /> <!-- RESOURCES CATALOG -->
        <activity android:name=".presentation.Catalog.View.CatalogActivity" /> <!-- LIBRARIES CATALOG -->
        <activity android:name=".presentation.Libraries.View.LibraiesActivity" />
        <activity android:name=".presentation.Libraries.View.LibraryActivity" /> <!-- ADMIN ZONE -->
        <activity android:name=".presentation.AdminZone.View.AdminZoneActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>