<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sinergia.eLibrary">
    <!-- PERMISSIONS -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".presentation.NeLSProject"
        android:allowBackup="true"
        android:icon="@drawable/icon_logonels"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_logonels"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".presentation.Neurolinguistics.View.ItemNeurolinguisticsActivity"></activity>
        <activity android:name=".presentation.Neurolinguistics.View.NeurolinguisticsActivity" />
        <activity android:name=".presentation.Dialogs.ConfirmDialog.InformDialogActivity" />
        <activity android:name=".presentation.Favourites.view.FavouritesActivity" />
        <activity android:name=".presentation.Dialogs.ConfirmDialog.ConfirmDialogActivity" />
        <activity android:name=".presentation.CameraScan.View.CameraScanActivity" /> <!-- MAIN ACTIVITY -->
        <activity android:name=".presentation.Main.View.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- LOGIN -->
        <activity android:name=".presentation.Login.View.LoginActivity" /> <!-- LOGIN AUTH -->
        <activity android:name=".presentation.Login.View.AuthLoginActivity" /> <!-- REGISTER -->
        <activity android:name=".presentation.Register.View.RegisterActivity" /> <!-- FORGOT PASSWORD -->
        <activity android:name=".presentation.ForgotPassword.View.ForgotPasswordActivity" /> <!-- MAIN MENU -->
        <activity android:name=".presentation.MainMenu.View.MainMenuActivity" /> <!-- RESOURCES CATALOG -->
        <activity android:name=".presentation.Catalog.View.CatalogActivity" /> <!-- RESOURCE -->
        <activity android:name=".presentation.Catalog.View.ItemCatalogActivity" /> <!-- LIBRARIES CATALOG -->
        <activity android:name=".presentation.Libraries.View.LibraiesActivity" /> <!-- LIBRARY -->
        <activity android:name=".presentation.Libraries.View.LibraryActivity" /> <!-- ADMIN ZONE -->
        <activity android:name=".presentation.AdminZone.View.AdminZoneActivity" /> <!-- ACCOUNT -->
        <activity android:name=".presentation.Account.View.AccountActivity" /> <!-- APP METADATA -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>